@font-face {
    font-family: 'BiotifBlack'; 
    src: url('./fonts/Fontspring-DEMO-biotif-black.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    src: url('/fonts/IBMPlexSansCondensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('assets/fonts/OverusedGrotesk-Bold.ttf') format('truetype');
}

:root {
    /* fonts */
    --bb: 'BiotifBlack', sans-serif;
    --psc: 'IBM Plex Sans Condensed', sans-serif;
    --og: 'Overused Grotesk', sans-serif;

    /* colors */
    --alpha: #E8E8E8;
    --beta: #141414;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: var(--alpha);
}
#page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 200vh;
    width: 100vw;
}
nav {
    position: fixed;
    top: 0;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    z-index: 99999999; 
}

nav > h3 {
    font-size: 1vw;
    color: #fff;
}

nav > h3 i {
    font-size: 1.5vw;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    transition: all 0.4s;
    z-index: 15;
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
}

#btn-one {  
    color: var(--alpha);
    font-family: var(--bb);
    display: inline-block;
    padding: 1px 30px;
    border-radius: 10px;
    background-color: var(--beta);
    letter-spacing: 2px;
}

#btn-one:hover {
    transform: scale(0.97);
    color: #191919;
    background-color: var(--home-color);
}

.main-nav {
    display: flex;
    z-index: 12;
}

.main-nav .ul-two {
    display: flex;
    right: 4em;
}

.main-nav .ul-two li {
    margin-left: 1.5em;
}

.main-nav .ul-two #border {
    padding: 0 15px;
    align-items: center;
}

.section-title {
    font-family: var(--bb);
    font-size: 1.2rem;
}
.heroImg {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    height: 60vh; 
    width: 50vw;
    z-index: 1; 
}
.heroImg>img{
    height: 100%; 
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#page>h1{
    color: var(--beta);
    text-align: center;
    font-size: 12vw;
    line-height: .85;
    font-family: var(--psc);
    font-weight: 600; font-style: italic;
}
@keyframes flicker {
    0% { color: var(--beta); opacity: 1; }
    25% { color: #8C8C8C; opacity: 1; } 
    50% { color: var(--alpha); opacity: 0; }
    100% { color: var(--beta); opacity: 1; }
}
#page .name {
    font-family: var(--og);
    font-style: normal;
    position: relative;
    z-index: 999;
    letter-spacing: 0;
    line-height: .85;
    font-size: 30vw;
    animation: flicker 3s infinite; 
}
#page-one{
    position: relative;
    height: 60vh;
    width: 100vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}