@font-face {
    font-family: 'BiotifBlack'; 
    src: url('./fonts/Fontspring-DEMO-biotif-black.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    src: url('/fonts/IBMPlexSansCondensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('assets/fonts/OverusedGrotesk-Bold.ttf') format('truetype');
}

:root {
    /* fonts */
    --bb: 'BiotifBlack', sans-serif;
    --psc: 'IBM Plex Sans Condensed', sans-serif;
    --og: 'Overused Grotesk', sans-serif;

    /* colors */
    --alpha: #E8E8E8;
    --beta: #141414;
    --charlie: #F5D300;
}

.cursor {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--charlie);
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

h1{
    margin: 0;
    padding: 0;
}


#main{
    position: relative;
    overflow: hidden;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 200vh;
    width: 100vw;
    background-color: var(--alpha);
}
nav {
    position: fixed;
    top: 0;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    z-index: 99999999; 
}

nav > h3 {
    font-size: 1vw;
}

nav > h3 i {
    font-size: 1.5vw;
}

li {
    list-style: none;
    transition: all 0.4s;
    z-index: 15;
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--beta);
}

#btn-one {  
    color: var(--alpha);
    font-family: var(--og);
    display: inline-block;
    padding: 1px 30px;
    border-radius: 10px;
    background-color: var(--beta);
    letter-spacing: 2px;
}

#btn-one:hover {
    transform: scale(0.97);
    color: #191919;
    background-color: var(--home-color);
}

.main-nav {
    display: flex;
    z-index: 12;
}

.main-nav .ul-two {
    display: flex;
    right: 4em;
}

.main-nav .ul-two li {
    margin-left: 1.5em;
}

.main-nav .ul-two #border {
    padding: 0 15px;
    align-items: center;
}

.section-title {
    font-family: var(--og);
    font-size: 1.2rem;
}

.intro-text {
    margin-top: 5%;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility 1s ease-in;
}

.show {
    opacity: 1;
    visibility: visible;
}

.name, .title, #home > h1:not(.intro-text) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility 1s ease-in;
}

.heroImg {
    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translateX(-50%);
    height: 60vh; 
    width: 50vw;
    z-index: 1; 
}
.heroImg>img{
    height: 100%; 
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#home>h1{
    color: var(--beta);
    text-align: center;
    font-size: 12vw;
    line-height: .85;
    font-family: var(--psc);
    font-weight: 600; font-style: italic;
}
@keyframes flicker {
    0% { color: var(--alpha); opacity: 0; }
    100% { color: var(--charlie); opacity: 1; } /* Ensure opacity is set to 1 at end */
}

#home .name {
    font-family: var(--og);
    font-style: normal;
    position: relative;
    z-index: 999;
    letter-spacing: 0;
    line-height: .85;
    font-size: 30vw;
    color: var(--alpha); /* Initial color */
    opacity: 0; /* Initial opacity */
    animation: flicker 1s steps(2, end) forwards;
    animation-play-state: paused; /* Initially paused */
}
#about{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--beta);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-text{
    display: inline-block;
    transition: color 1s;
    text-align: left;
    font-family: var(--bb);
    font-size: 3vw;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 50px;
}

.word {
    color: var(--beta); 
    display: inline-block;
    transition: color 0.3s; 
}

/* TECH AND TOOLS (HORIZONTAL MARQUEE) */

#about .moving-text {
    background-color: var(--alpha);
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    font-family: var(--og);
}

#about .moving-text .text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: move linear infinite 20s;
}

#about .moving-text .text .first {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#about .moving-text .text .first img {
    height: 100px;
    width: 60px;
    margin: 0 30px;
}

#about .moving-text .text .first h1 {
    font-size: 2vw;
    text-transform: uppercase;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#projects{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--alpha);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#contacts{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--beta);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.main-nav.hidden {
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}